In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv(os.path.join("nyc_datasets", "train.csv"))
print(df.info(memory_usage='deep'))
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int64
 2   pickup_datetime     1458644 non-null  object
 3   dropoff_datetime    1458644 non-null  object
 4   passenger_count     1458644 non-null  int64
 5   pickup_longitude    1458644 non-null  float64
 6   pickup_latitude     1458644 non-null  float64
 7   dropoff_longitude   1458644 non-null  float64
 8   dropoff_latitude    1458644 non-null  float64
 9   store_and_fwd_flag  1458644 non-null  object
 10  trip_duration       1458644 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 461.8 MB
None

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
count,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06
mean,1.534950e+00,1.664530e+00,-7.397349e+01,4.075092e+01,-7.397342e+01,4.075180e+01,9.594923e+02
std,4.987772e-01,1.314242e+00,7.090186e-02,3.288119e-02,7.064327e-02,3.589056e-02,5.237432e+03
min,1.000000e+00,0.000000e+00,-1.219333e+02,3.435970e+01,-1.219333e+02,3.218114e+01,1.000000e+00
25%,1.000000e+00,1.000000e+00,-7.399187e+01,4.073735e+01,-7.399133e+01,4.073588e+01,3.970000e+02
50%,2.000000e+00,1.000000e+00,-7.398174e+01,4.075410e+01,-7.397975e+01,4.075452e+01,6.620000e+02
75%,2.000000e+00,2.000000e+00,-7.396733e+01,4.076836e+01,-7.396301e+01,4.076981e+01,1.075000e+03
max,2.000000e+00,9.000000e+00,-6.133553e+01,5.188108e+01,-6.133553e+01,4.392103e+01,3.526282e+06

In [3]:
def type_changer(col:str, type:str):
    previous_memory = df[col].memory_usage(deep=True)
    print(f'if type changed: {df[col].dtypes} --> {type}')
    past_memory = df[col].astype(type).memory_usage(deep=True)
    print(f'then memory changed: {previous_memory} --> {past_memory} (save {100-(100*past_memory/previous_memory):.2f}%)\n')

type_changer(col='id', type='string')
type_changer(col='vendor_id', type='category')
type_changer(col='pickup_datetime', type='datetime64')
type_changer(col='dropoff_datetime', type='datetime64')
type_changer(col='passenger_count', type='int8')
type_changer(col='pickup_longitude', type='float16')
type_changer(col='pickup_latitude', type='float16')
type_changer(col='dropoff_longitude', type='float16')
type_changer(col='dropoff_latitude', type='float16')
type_changer(col='store_and_fwd_flag', type='category')
type_changer(col='trip_duration', type='int32')

if type changed: object --> string
then memory changed: 96270632 --> 96270632 (save 0.00%)

if type changed: int64 --> category
then memory changed: 11669280 --> 1458896 (save 87.50%)

if type changed: object --> datetime64
then memory changed: 110857072 --> 11669280 (save 89.47%)

if type changed: object --> datetime64
then memory changed: 110857072 --> 11669280 (save 89.47%)

if type changed: int64 --> int8
then memory changed: 11669280 --> 1458772 (save 87.50%)

if type changed: float64 --> float16
then memory changed: 11669280 --> 2917416 (save 75.00%)

if type changed: float64 --> float16
then memory changed: 11669280 --> 2917416 (save 75.00%)

if type changed: float64 --> float16
then memory changed: 11669280 --> 2917416 (save 75.00%)

if type changed: float64 --> float16
then memory changed: 11669280 --> 2917416 (save 75.00%)

if type changed: object --> category
then memory changed: 84601480 --> 1458996 (save 98.28%)

if type changed: int64 --> int32
then memory changed: 11669280 --> 5834704 (save 50.00%)

In [4]:
df['id'] = df['id'].astype('string')
df['vendor_id'] = df['vendor_id'].astype('category')
df['pickup_datetime'] = df['pickup_datetime'].astype('datetime64')
df['dropoff_datetime'] = df['dropoff_datetime'].astype('datetime64')
df['passenger_count'] = df['passenger_count'].astype('int8')
df['pickup_longitude'] = df['pickup_longitude'].astype('float16')
df['pickup_latitude'] = df['pickup_latitude'].astype('float16')
df['dropoff_longitude'] = df['dropoff_longitude'].astype('float16')
df['dropoff_latitude'] = df['dropoff_latitude'].astype('float16')
df['store_and_fwd_flag'] = df['store_and_fwd_flag'].astype('category')
df['trip_duration'] = df['trip_duration'].astype('int32')
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  string
 1   vendor_id           1458644 non-null  category
 2   pickup_datetime     1458644 non-null  datetime64[ns]
 3   dropoff_datetime    1458644 non-null  datetime64[ns]
 4   passenger_count     1458644 non-null  int8
 5   pickup_longitude    1458644 non-null  float16
 6   pickup_latitude     1458644 non-null  float16
 7   dropoff_longitude   1458644 non-null  float16
 8   dropoff_latitude    1458644 non-null  float16
 9   store_and_fwd_flag  1458644 non-null  category
 10  trip_duration       1458644 non-null  int32
dtypes: category(2), datetime64[ns](2), float16(4), int32(1), int8(1), string(1)
memory usage: 134.9 MB

In [5]:
use_cols = ['id', 'pickup_datetime', 'dropoff_datetime', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'trip_duration']
data_types = {
    'id' : 'string', 
    # 'pickup_datetime': 'datetime64',          # not supported
    # 'dropoff_datetime': 'datetime64',         # not supported 
    'pickup_longitude': 'float16', 
    'pickup_latitude': 'float16', 
    'dropoff_longitude': 'float16', 
    'dropoff_latitude': 'float16', 
    'trip_duration' : 'int32'
}
df_full = pd.read_csv(os.path.join("nyc_datasets", "train.csv"))[use_cols]
df_partial = pd.read_csv(os.path.join("nyc_datasets", "train.csv"), usecols=use_cols, dtype=data_types)
previous_memory = df_full.info(memory_usage='deep')
print(f'if used column only')
past_memory = df_partial.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 8 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   id                 1458644 non-null  object
 1   pickup_datetime    1458644 non-null  object
 2   dropoff_datetime   1458644 non-null  object
 3   pickup_longitude   1458644 non-null  float64
 4   pickup_latitude    1458644 non-null  float64
 5   dropoff_longitude  1458644 non-null  float64
 6   dropoff_latitude   1458644 non-null  float64
 7   trip_duration      1458644 non-null  int64
dtypes: float64(4), int64(1), object(3)
memory usage: 358.9 MB
if used column only
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 8 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   id                 1458644 non-null  string
 1   pickup_datetime    1458644 non-null  object
 2   dropoff_datetime   1458644 non-null  object
 3   pickup_longitude   1458644 non-null  float16
 4   pickup_latitude    1458644 non-null  float16
 5   dropoff_longitude  1458644 non-null  float16
 6   dropoff_latitude   1458644 non-null  float16
 7   trip_duration      1458644 non-null  int32
dtypes: float16(4), int32(1), object(2), string(1)
memory usage: 319.9 MB

In [16]:
df_chunk = pd.read_csv(os.path.join("nyc_datasets", "train.csv"), usecols=use_cols, dtype=data_types, chunksize=1000)
# df_chunk.get_chunk()
# df_chunk.read()

In [12]:
import dask.dataframe as dd
ddf = dd.read_csv(os.path.join("nyc_datasets", "train.csv"))
ddf.info(memory_usage=True)

<class 'dask.dataframe.core.DataFrame'>
Columns: 11 entries, id to trip_duration
dtypes: object(4), float64(4), int64(3)
memory usage: 122.4 MB

In [15]:
import utils
import pandas as pd

df = pd.read_csv(os.path.join("nyc_datasets", "train.csv"))
print(df.info(memory_usage='deep'))
df = utils.optimize(df,datetime_features=['pickup_datetime', 'dropoff_datetime'])
print(df.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int64
 2   pickup_datetime     1458644 non-null  object
 3   dropoff_datetime    1458644 non-null  object
 4   passenger_count     1458644 non-null  int64
 5   pickup_longitude    1458644 non-null  float64
 6   pickup_latitude     1458644 non-null  float64
 7   dropoff_longitude   1458644 non-null  float64
 8   dropoff_latitude    1458644 non-null  float64
 9   store_and_fwd_flag  1458644 non-null  object
 10  trip_duration       1458644 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 461.8 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int8
 2   pickup_datetime     1458644 non-null  datetime64[ns]
 3   dropoff_datetime    1458644 non-null  datetime64[ns]
 4   passenger_count     1458644 non-null  int8
 5   pickup_longitude    1458644 non-null  float32
 6   pickup_latitude     1458644 non-null  float32
 7   dropoff_longitude   1458644 non-null  float32
 8   dropoff_latitude    1458644 non-null  float32
 9   store_and_fwd_flag  1458644 non-null  category
 10  trip_duration       1458644 non-null  int32
dtypes: category(1), datetime64[ns](2), float32(4), int32(1), int8(2), object(1)
memory usage: 146.1 MB
None

In [70]:
import numpy as np
import sys
import typing


arr = []
np_arr = np.zeros((1000000,), dtype=np.int64)
for i in range(1000000):
    arr.append(int(i))
    np_arr[i] += i

print(f'pyobject({type(arr)}) mem use: {sys.getsizeof(arr)}')
print(f'numpy({type(np_arr)}) mem use: {sys.getsizeof(np_arr)}')

print(f'pyobject({type(123)}) mem use: {sys.getsizeof(123)}')
print(f'numpy({type(np.int64(123))}) mem use: {np.int64(123).nbytes}')

pyobject(<class 'list'>) mem use: 8000056
numpy(<class 'numpy.ndarray'>) mem use: 8000096
pyobject(<class 'int'>) mem use: 28
numpy(<class 'numpy.int64'>) mem use: 8